
*.map
scss/pc.scss/index.css.map
scss/mixins.css.map
scss/pc.scss/productDetails.css.map
npm-debug.log
yarn-error.log

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
node_modules/.cache
node_modules
.idea/workspace.xml
*.xml
.idea/workspace.xml
